* {
	margin: 0 auto;
}

div {
	outline: 0px dotted red;
	font-family: 'Century Gothic';
}

.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/*HEADER*/
.main-menu {
	background-color: #2A2E49; /*custom color*/
	color: #fff;
	text-transform: uppercase;
}

.main-menu .navbar .navbar-toggle, .navbar-header > button > span {
    border-color: #fff;
}

.navbar-header {
	position: relative;
	min-height: 80px;
}

.navbar-collapse > ul {
	margin-top: 15px;
	text-align: center;
}

.navbar-collapse > ul > li > a {
	display: inline-block;
}

.navbar-collapse > ul > li > a:hover {
	background-color: transparent;
	color: orange;
}

.navbar-collapse > ul > li > a:focus {
	background-color: transparent;
}

.navbar-collapse > ul > li.active > a {
	color: #DAA520;
}

.dropdown-menu {
	text-align: left;
	background-color: #2A2E49;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 15px;
/*	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-radius: 20px;	*/
}

.dropdown-menu > li > a {
	display: inline;
	color: #fff;
}

.dropdown-menu > li:hover > a {
	color: orange;
	background-color: #2A2E49;
}

li.dropdown-open ul.dropdown-menu {
	margin-top: 20px;
}

.navbar-header > button > span {
	background-color: #fff;
}

.navbar-brand > img {
	height: 70px;
	position: absolute;
	top: 5px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-brand > img {
		height: 55px;
		position: absolute;
		top: 10px;
		left: -15px;
	}	
}

.navbar {
	margin-bottom: 0px;
}

.navbar a {
	margin: 0px;
	max-width: 200px;
	color: #fff;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}

.navbar a:focus {
	background-color: transparent;
}

/*./HEADER*/

/*CONTENT*/
/*top-slider*/
.item {
	position: relative;
}

.item input {
	position: absolute;
	top: 81%;
	width: 200px;
	height: 50px;
	left: calc(50% - 100px);
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50px;
	border: 2px solid #fff;
}

@media screen and (max-width: 1280px) {
	.item input {
		width: 180px;
		height: 40px;
		left: calc(50% - 90px);
		font-size: 0.8em;
		top: 78%;
	}	
}

@media screen and (max-width: 1024px) {
	.item input {
		width: 140px;
		height: 35px;
		left: calc(50% - 70px);
		font-size: 0.7em;
		top: 74%;
	}	
}

@media screen and (max-width: 768px) {
	.item input {
		width: 140px;
		height: 35px;
		left: calc(50% - 70px);
		font-size: 0.7em;
		top: 70%;
	}	
}

@media screen and (max-width: 550px) {
	.item input {
		display: none;
	}	
}

/*./top-slider*/

/*main-page content*/
.top-photo-frame {
	background: url(../img/studio.jpg) no-repeat fixed center;
	background-size: cover;
	min-height: 800px;
}

.text-frame {
	background-color: #fff;
	text-align: justify;
	min-height: 370px;
}

.text-frame img, .text-frame h2 {
	margin-top: 60px;
}

.text-frame h2 {
	line-height: 0.8em;
	margin-bottom: 30px;
	text-align: left;
}

.text-frame img, .text-frame p, .text-frame ul {
	width: 100%;
	margin-bottom: 60px;
}

.photo-frame {
	min-height: 1280px;
}

.photo-frame.first-frame {
	background: url(../img/individual.jpg) no-repeat center;
	background-size: cover;
}

.photo-frame.second-frame {
	background: url(../img/family-02.jpg) no-repeat center;
	background-size: cover;
}

.photo-frame.third-frame {
	background: url(../img/family-01.jpg) no-repeat center;
	background-size: cover;
}

.photo-frame.fourth-frame {
	background: url(../img/child-02.jpg) no-repeat center;
	background-size: cover;
}

.price-frame {
	padding-left: 0px;
	padding-right: 0px;
}

.price-frame h2 {
	margin-left: 15px;
	margin-right: 15px;
}

.price-block {
	text-align: center;
}

.price-header {
	background-color: #2A2E49;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	font-size: 1.4em;
}

.price-content {
	border: 1px solid #2A2E49;
	margin-bottom: 30px;
}

.price-content ul {
	list-style-type: none;
	padding-left: 0px;
}

.price-content hr {
	margin: 0px;
}

.price-content li {
	margin: 10px 0px;
}

.price-content input, .modal button, .order input {
	background-color: #2A2E49;
	color: #fff;
	text-transform: uppercase;
	border-width: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 30px;
	border-radius: 50px;
}

.order input {
	margin-bottom: -10px;
}

.price-content input:hover, .modal button:hover, .order input:hover {
	color: orange;
}

.price-content input:focus, .modal.fade.in button:focus, .btn:focus, .order input:focus {
	outline: none;
	border: 1px solid orange;
	color: orange;
	background-color: #43435A;
}
/*./main-page content*/

/*album-page content*/
.albums {
	outline: 0px solid blue;
}

.albums > .row div {
	outline: 0px solid green;
}

.img-container {
	padding: 15px;
}

.img-container img {
	width: 100%;
	margin: 5px 0 5px 0;
}

.img-container a > span {
	color: #000;
	font-style: italic;
}

.img-container a:hover {
	text-decoration: none;
}

.img-container a:hover > span {
	color: orange;
}
/*./album-page content*/

/*gallery page*/
.gallery {
	margin: 15px 0px;
}

.gallery #links {
	text-align: center;
	vertical-align: middle;
  	font-size: 0;
}

@media screen and (min-width: 1024px) {
	.albums, .contacts {
		min-height: 685px;
		margin-bottom: 25px;
	}
}

.gallery #links img {
	margin: 0px 2px 4px 2px;
}

@media screen and (max-width: 480px) {
	.gallery #links img {
		width: 100%;
	}
}
/*./gallery page*/

/*feedback page*/
.feedback-item {
	margin: 15px 0px;
	font-weight: bold;
}

h5.positive {
	color: green;
}

h5.negative {
	color: brown;
}

.feedback-item span {
	font-style: italic;
	font-weight: normal;
}
/*./feedback page*/

/*contacts page*/
.social-media a > img {
	width: 40%;
	margin: 30px 0px; 
}
.contact-form input:first-child {
	margin-top: 30px;
}
.contact-form input, .contact-form textarea {
	width: 100%;
	margin: 5px 0px;
	padding: 5px 10px;
}

.contact-form input.standart-button {
	border-radius: 50px;
	padding: 10px;
}

.input-email {
	width: 50%;
}

.contacts h2 {
	margin-top: 30px;
}
/*./contacts page*/
/*./CONTENT*/

/*FOOTER*/
footer {
	background-color: #2A2E49;
	color: #fff;
}

footer > div > div {
	margin: 10px 0 10px 0;
}

.footer-logo > img {
	width: 150px;
}

.social-media-footer, .contacts-footer {
	text-align: right;
}

.social-media-footer img {
	width: 40px;
}
/*./FOOTER*/

/*MISC*/
/*modal*/
.modal {
	margin-top: 100px;
}

.modal-content {
	text-align: center;
	border-radius: 0;
}

.modal-header {
	text-transform: uppercase;
	background-color: #2A2E49;
	color: #fff;
	font-size: 1.4em;
}
/*./modal*/

/*alignment*/
.left {
	text-align: left; 
}

.center { 
	text-align: center; 
}

.right {
	text-align: right; 
}
/*./alignment*/

/*standart button*/
.standart-button {
	background-color: #2A2E49;
	color: #fff;
	text-transform: uppercase;
	border-width: 0px;
	padding: 10px 30px;
	border-radius: 50px;
}

.standart-button:hover {
	color: orange;
	background-color: #43435A;
}

input.top-button {
	margin: 15px 0px;
}

input.bottom-button {
	margin: 15px 0px;
}
/*./standart button*/

/*form outline*/
form > input:focus, form > textarea:focus, button:focus {
	outline: none;
	border: 1px solid orange;
}
/*.*form outline*/
/*./MISC*/